@media screen and (min-width: 360px) {
  #containerPrincipal-BackgroundsHome {
    /* border: 5px solid green; */
    height: 100%;
    width: 100%;
  }

  @keyframes blur-image {
    0% {
      filter: blur(15px);
    }
    100% {
      filter: blur(0px);
    }
  }

  #image_background_active {
    /* border: 2px solid sienna; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }

  .blur-image {
    animation: blur-image 2.5s ease-in-out;
    filter: grayscale(30%);
  }
}
