@media screen and (min-width: 360px) {
  #contenedor-general-counter {
    /* border: 2px solid blueviolet; */
    position: absolute;
    margin-top: 24rem;
    width: 100%;
    text-align: center;
    color: white;
  }

  #texto-counter{
      /* border: 2px solid greenyellow; */
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.736);
      backdrop-filter: blur(10px);
      border-radius: 8px;
      font-weight: 400;
      padding: .7rem 3rem;
      letter-spacing: 1px;
      font-size: 2.5rem;
  }
}

/* 414px - Iphone 11 */
@media screen and (min-width: 414px) {
  #contenedor-general-counter {
    /* border: 2px solid blueviolet; */
    margin-top: 25rem;
  }

  #texto-counter{
      /* border: 2px solid greenyellow; */
      padding: .8rem 3.5rem;
      font-size: 3rem;
  }
}
