/* ? Importacion general de libreria 'Bulma' */

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* ? Reseteo general de propiedades  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
