/* * 360px - Mobiles Android */
@media screen and (min-width: 360px) {
  #contenedor-tituloExpenses {
    /* border: 2px solid red; */
    position: absolute;
    width: 70%;
    text-align: center;
    cursor: pointer;
  }

  #tituloOwnExpenses {
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 414px) {
  #contenedor-tituloExpenses {
    margin-top: 5rem;
  }

  #tituloOwnExpenses {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

/* * 1440px - Macbook Air y Laptop */
@media screen and (min-width: 1440px) {
  #contenedor-tituloExpenses {
    height: 4.6rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0px 10px 10px 0px;
  }

  #tituloOwnExpenses {
    display: inline;
    background-color: transparent;
  }
}
