@media screen and (min-width: 360px) {
  #contenedor-tituloExpenses {
    /* border: 2px solid red; */
    position: absolute;
    margin-top: 5rem;
    width: 70%;
    text-align: center;
    cursor: pointer;
  }

  #tituloOwnExpenses {
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    border-radius: 0px 13px 13px 0px;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 10px;
  }

  #contenedor-tituloExpenses:hover {
    width: 100%;
    transition: all 0.7s ease;
    border-radius: 1px;
    cursor: pointer;
  }
}

@media screen and (min-width: 414px) {
  #contenedor-tituloExpenses {
    margin-top: 5rem;
  }

  #tituloOwnExpenses {
    background-color: rgba(0, 0, 0, 0.750);
    padding: 12px;
  }
}
